<style>
    @font-face {
    font-family: 'myfont';
    src: url('../font/myfont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'myfont';
    src: url('../font/myfont-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
    @font-face {
    font-family: 'myfont';
    src: url('../font/myfont-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: myfont, sans-serif; /* Set the font to Arial */
    }
    .hero {
        background-image: url('home/background_home_placeholder.png');
        height: 25%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2em;
        text-align: center;
    }
    .hero p {
        margin: 0;
        padding: 0 0 10px 0; /* Adjust padding to reduce line space */
    }
    .hero h1 {
        margin: 0;
        padding: 0;
    }
   
    .profile-pic {
        position: absolute;
        top: 100%;
        left: 10%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 2px solid #ccc; /* 添加淡灰色边框 */
        box-shadow: 0 0 8px #ccc; /* 添加淡灰色外发光效果 */
    }
    .hidden-text {
        display: none;
    }
    
    
    
    
    
        /* 网址导航 */
        nav {
            background: #f8f8f8;
            padding: 0px 10px;
            text-align: center;
            white-space: nowrap; /* Prevents wrapping of nav items by default */
        }
        nav a {
        position: relative;
        text-decoration: none;
        margin: 6px 30px; /*上下，左右*/
        padding: 4px 15px; /*文本与边框，内部概念*/
        color: black;
        font-size: 1.2em;
        border-radius: 4px;
        overflow: hidden; /* Ensures the pseudo-element doesn't extend outside the link */
        display: inline-block; /* Necessary for proper positioning of pseudo-elements */
        }

    /* nav a.active {
        background-color: #c3c2c2;
    }
    nav a:hover {
        text-decoration: underline;
    } */

    


    /*控制按钮下方的bar*/
    nav a::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        background-color: black;
        transform: translateX(-50%) scaleX(0); /* 初始状态：中心压缩 */
        width: 100%; /* 设置宽度为100%，但初始状态由于scaleX(0)不可见 */
        height: 2.5px; /* 下划线的厚度 */
        transition: transform 0.3s ease, background-color 0.3s ease; /* 动画效果应用于变换属性和背景颜色 */
    }

    nav a:hover::before, nav a.active::before {
        transform: translateX(-50%) scaleX(1); /* 悬停或激活时展开 */
        background-color: #c3c2c2; /* 悬停或激活时颜色变黑 */
    }

    nav a:hover, nav a.active {
        text-decoration: none;  /* 也确保悬停或激活状态下没有下划线 */
        /*background-color: #c3c2c2;  /* 可选：在悬停或激活时更改背景颜色 */
    }

    nav a.active {
        background-color: transparent; /* Optional: remove the background color when active */
    }

    /* 设置一般的链接*/
    a {
            color: rgb(11, 11, 142); /* 设置链接颜色为蓝色 */
        }   

   

    .content {
        display: none; /* Initially hide all content */
        width: 950px; /* 设置固定宽度 */
    /*    max-width: 100%; /* 确保宽度不超过视口宽度 */
        overflow: hidden; /* 隐藏超出部分 */
        text-align: left; /* 文本左对齐 */
        padding: 35px; /* 添加内边距 */
        box-sizing: border-box; /* 包括内边距和边框在内的总宽度 */
        margin: 0 auto; /* 上下边距为0，自动调整左右边距来居中 */
        }

        .content p {
        font-size: 18px; /* 设置段落文本的字体大小 */
        }

        #home-content hr {
        width: 587px; /* 设置横线的宽度为600px */
        border: 0; /* 移除默认边框 */
        height: 1.5px; /* 设置横线的高度 */
        background-color: #ccc; /* 设置横线的颜色 */
        margin: 20px auto; /* 上下边距为20px，水平居中 */
        }

        .secondary-hr {
        width: 950px; /* 设置横线的宽度为600px */
        border: 0; /* 移除默认边框 */
        height: 1px; /* 设置横线的高度 */
        background-color: #ccc; /* 设置横线的颜色 */
        margin: 10px auto; /* 上下边距为20px，水平居中 */
        }




    .active-content {
        display: block; /* Only show active content */
    }
    /* Media Query to handle resizing and wrapping */
    @media (max-width: 700px) {
        nav {
            white-space: normal; /* Allow wrapping */
        }
        nav a {
            display: inline-block; /* Ensures proper line breaks */
            width: 35%; /* Adjust width to ensure two items per line */
        }
    }
    .tooltip {
        position: absolute;
        background-color: black;
        color: white;
        padding: 5px 10px;
        border-radius: 6px;
        display: none; /* Initially hide the tooltip */
        z-index: 1000;
        left: 150%; /* Adjust based on tooltip position */
        top: -10px; /* Adjust based on tooltip position */
    }

    /* Paper的容器*/
    .content-box {
        width: 950px; /* 设置容器的宽度 */
        margin: 0 auto; /* 居中显示 */
        position: relative; /* 设置相对定位，便于内部元素定位 */
        padding: 0px; /* 添加内边距 */
        box-sizing: border-box; /* 边框和内边距包含在宽度内 */
        display: flex; /* 使用flex布局 */
        align-items: flex-start; /* 子项沿交叉轴的起点对齐 */
    }

    .text-content {
        max-width: 710px; /* 设置文本最大宽度 */
    }

    .right-aligned-image {
        margin-left: auto; /* 设置左边距为自动，推动图片到右边 */
        margin-right: 40px; /* 自动左边距推动到右边 */
        width: 180px; /* 设置图片宽度，根据实际需要调整 */
    }
   

    
/* 分章节样式调整 */

#home-content p {
    line-height: 1.6; /* 通常的好的行间距从1.4到1.6不等 */
}


#publications-content h1 {
    margin-bottom: 5px; /* 默认可能是20px或更多，根据需要调整 */
    /* margin-top: auto  */

}

.publication-info {
    font-size: 0.2em;
    color: grey;
    text-align: left;
    margin-top: -20px; /* Adjust as needed to align properly */
    margin-bottom: -10px; /* Space before the article starts */
}

.news-body .large-initial {
    font-size: 2.5em; /* Adjust size as needed */
    float: left;
    line-height: 1.1;
    margin-right: 7px; /* Space between the large initial and rest of the text */
    color: black; /* Optional: change the color if needed */
}

.news-body {
    line-height: 1.4;  /* This sets the line spacing. Adjust the value as needed. */
}



    
</style>